@import './normalize.scss';

html, body, address, blockquote, dl, form, h1, h2, h3, h4, h5, h6, ol, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, pre {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $body-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}